/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* This is the main CSS file for the website to change styles of content */
/* CSS starts from mobile first styles, set the default format for style from start */
* {
    box-sizing: border-box;
}

body { /* default body style with background color and font */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    color: #222;
}

img { /* default image style with 100% wide and display block */
    max-width: 100%;
    height: auto;
    display: block;
}

 a { /* remove link decoration */
    text-decoration: none;
}

.container { /* default container style with max width and padding */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 { /* default h1 style with font size and weight */
    font-weight: 800;
    font-size: 50px;
}

h2 { /* default h2 style */
    font-weight: 700;
    font-size: 35px;
    margin: 10px 0;
}

h3 { /* default h3 style */
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0;
}

p { /* default all paragraph style */
    margin-bottom: 10px;
    font-size: 14px;
}

.btn { /* default button to keep its own space but not the whole line */
    display: inline-block;
    font-size: 16px;
}

/* below is the setting for Header, incl the logo, nav and container in mobile style */
header {
    background-color: #222;
    color: #fff;
    padding: 15px 0;
}

header .container { /* make sure elements in header can align vertically*/
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 0;
    background-color: #c78c06
}

.logo img {
    height: 70px;
    width: 70px;
}

nav ul { /* make sure elements in nav list can align vertically */
    display: flex;
    flex-direction: column;
}

nav ul li {
    width: 100%;
    margin-bottom: 5px;
}

nav ul li a { 
    color: #c78c06;
    padding: 10px;
    display: flex;
    justify-content: center; /* center the text in mobile view */
}

nav ul li a.homebtn {
    background-color: #c78c06;
    color: #222;
}

.search-bar {
    display: flex;
    margin-top: 15px;
    width: 100%;
}

.search-bar input {
    flex: 1; /* take the majority of the space */
    padding: 8px 10px;
    border: 1px solid #222;
}

.search-bar button {
    background-color: #222;
    border: 1px solid #c78c06;
    padding: 8px 8px;
}

.search-bar button i { /* change icon color in search bar */
    color: #c78c06;
}


/* below is the style for Welcome Section, incl a banner, overlapping a container and text in it */
.welcome {
    position: relative;
    width: 100%;
}

.welcome-img img {
    width: 100%;
}

/* set position for the container to be absolute, so it can overlap the image, remove the padding */
.welcome .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
}

/* add style for the welcome content in the container, incl the text and button */
.welcome-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: white;
    width: 100%;
}

/* add style for "connect with us" button */
.welcome-content .btn {
    background-color: #c78c06;
    color: #222;
    padding: 15px 30px;
    margin-top: 25px;
}

/* below is the style for About Us Section, set the container style and img in center */
.about {
    background-color: #ffe6ac;
    padding: 20px 0;
    width: 100%;
}

.about .container {
    padding: 0px 10px;
}

.about-img {
    margin: auto;
}

/* below set the style for Services Section */
.service-item {
    margin-bottom: 15px; 
    width: 100%; 
}

.service-img img {
    width: 100%;
    display: block; /* make sure the image is block level */
}

.service-content { /* set the content style in service section */
    padding: 20px 10px;
    background-color: #ffe6ac;
    width: 100%;
}

.service-content .btn { /* set the button style in service section */
    background-color: #222;
    color:white;
    padding: 20px 25px;
}



/* below set style for Vision Section, with main img at bottom, overlay the h2, p and button */
.vision {
    position: relative;
    color: white;
}

.img-container {
    width: 100%;
    height: 300px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* make sure the img show the right scale since it was cut */
}

/* set the container style to be absolute, so it can overlap the image, and can be aligned on left side */
.vision .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* set the text style in vision section */
.vision-content {
    padding: 20px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* set the button style in vision section,the btn stay in its block, align left, and the words is in center */
.vision .btn {
    background-color: #222;
    border: 2px solid #c78c06;
    color: white;
    padding: 15px 25px;
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

/* below set the style for Team Section */
.team {
    background-color: white;
}

.team-info {
    background-color: #ffe6ac;
}

.team-info .title {
    font-weight: 700;
    border-bottom: #c78c06 2px solid;
}

.team-info h3 {
    margin-left:10px;
}

.team-info p {
    padding-bottom: 10px;
    margin: 5px 10px ;
}

.team-info img{
    width:100%;
}

/* below set the style for Contact Section, incl a contact form, a table and a map */
.contact {
    background-color: white;
}

.contact-form, .hours, .location {
    margin-bottom: 20px;
}

.contact-form .btn {
    background-color: #222;
    color: #c78c06;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #222;
}

.form-group textarea {
    height: 100px;
}

/* set the style for table in contact section */
.table-header {
    background-color: #ffe6ac;
}

.table-header th {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse; /* remove the space between cells */
}

table th, table td {
    padding: 10px;
    border: 1px solid #222;
    text-align: left;
}


/* set the style for map */
.map {
    margin-top: 10px;
    height: 350px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}


/* below set the style for Footer */
footer {
    background-color: #222;
    color: #c78c06;
    padding: 20px 10px;
    font-size: 14px;
}

footer p {
    margin-bottom: 5px;
}

footer a {
    color: #c78c06;
    text-decoration: underline;
}
/* this is the end for mobile style setting */

/* below add Media Query style for the screen size of 760px and above */
@media (min-width: 760px) {
    
    /* set the header style, incl the logo, nav and container, nav li flex in row, remove logo background color */
    header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        margin-bottom: 0;
        padding: 5px 15px;
        width: 100px;
        background: none;
    }
    
    nav {
        flex: 1;
        margin: 0 20px;
    }
    
    nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 20px;
        width: auto;
    }
    
    .search-bar {
        margin-top: 0;
        width: 200px;
    }

    /* add style for welcome section, the banner img will be bigger but cut some ratio,
    the transparent container will add padding on sides */
    .welcome-img img {
        height: 600px;
        object-fit: cover; 
    }
    
    .welcome-content {
        padding: 80px; 
    }
    
    .welcome-content h1 {
        font-size: 65px; 
    }


    /* below set style for About Section, use grid template, layout into 2 column and 2 rows */
    .about .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; 
        grid-gap: 10px;
        align-items: start; 
    }
    
    .about-img {
        grid-column: 1;
        grid-row: 1 / 3; 
    }
    
    .about h2 {
        grid-column: 2;
        grid-row: 1;
    }
    
    .about-text {
        grid-column: 2;
        grid-row: 2;
    }
    
    /* below set style for Services Section, use grid areas to change layout */
    .services .container {
        display: grid;
        grid-template-areas: 
            "heading heading heading heading heading heading"
            "digital digital digital marketing marketing marketing"
            "video video web web print print";
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
        
    .services .container h2 {
        grid-area: heading;
        text-align: left;
    }
        
    .service-item { /* set the service item style to flex in column */
        display: flex; 
        flex-direction: column; 
    }
        
    #digital {
        grid-area: digital;
    }
        
    #marketing {
        grid-area: marketing;
    }
        
    #video {
        grid-area: video;
    }
        
    #web {
        grid-area: web;
    }
        
    #print {
        grid-area: print;
    }
    
    /* set btn style to take one line in media query style, and center the text */
    .service-content .btn {
        display: block; 
        width: 100%; 
        text-align: center;
    }

    /* set style for Team Section, use grid area to layout */
    .team .container {
        display: grid;
        grid-template-areas:
            "heading heading"
            "john-img john-info"
            "bob-info bob-img";
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    
    .team h2 {
        grid-area: heading;
    }
    
    #john-img {
        grid-area: john-img;
    }
    
    #john-info {
        grid-area: john-info;
    }
    
    #bob-info {
        grid-area: bob-info;
    }
    
    #bob-img {
        grid-area: bob-img;
    }

    
    /* set style for Contact Section, use grid column and row to rearrange the position */
    .contact .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }
    
    .contact h2 {
        grid-column: 1 / -1;
        grid-row: 1;
    }
    
    .contact-form {
        grid-column: 1;
        grid-row: 2;
    }
    
    .location {
        grid-column: 2;
        grid-row: 2;
    }
    
    .hours {
        grid-column: 1 / -1;
        grid-row: 3;
    }
}